@{
    ViewData["Title"] = "Cluster Info";
}

@model web_ui.Models.ClusterModel    
       
@{    
        ViewData["Title"] = "Cluster Info";    
    }    

        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cluster Configuration</h1>
                </div>
        </div>                
        <table class="table">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>CurrentContext</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Host) </td>
                    <td>@Html.DisplayFor(model => model.CurrentContext) </td>
                </tr>
            
            </tbody>
        </table>
                <!-- /.table-responsive -->
        